$myFontStyle: italic;

.navbar {
  margin-top: 25px;
  border: 3px solid rgb(175, 175, 206);
  font-size: large;
  font-style: $myFontStyle;
}

.navbar-brand {
  font-style: $myFontStyle;
  font-weight: bold;
}
