<nav class="navbar bg-info navbar-dark justify-content-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">beading delight</a>

    <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
      <li routerLinkActive="active">
        <a routerLink="/patterns">Patterns</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/shopping-list">Shopping List</a>
      </li>
      <li routerLinkActive="contact-us">
        <a routerLink="/contact-us">Contact-Us</a>
      </li>
    </ul>
  </div>
</nav>
