<div class="container">
  <div class="col-xs-5">
    <div class="row img">
      <img
        [src]="pattern.imagePath"
        alt="{{ pattern.name }}"
        style="max-height: 300px"
        class="img-responsive"
      />
    </div>
    <br />

    <div class="row">
      <h4>{{ pattern.name | titlecase }}</h4>
    </div>
  </div>
  <div class="col-xs-7">
    <hr />
    <a
      href="#"
      class="btn btn-info"
      type="button"
      style="cursor: pointer"
      (click)="downloadPdf(pattern.pdfPath, pattern.name)"
    >
      Download the Pattern!
    </a>

    <hr />
    <h4 class="material">Materials Needed</h4>
    <p class="list" [innerHTML]="materials"></p>
    <hr />

   
  </div>
</div>
