p {
  margin-top: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  font-style: italic;
  
}

div {
  margin-top: 20px;
  height: 35vh;
  background-image: url("../../assets/images/beadweaving.jpg");
  background-position: center;
  background-size: cover;
}
